* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6ce0fd;
}

.container {
    width: 50%;
    max-width: 800px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 150px;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: none;
}

#inputText {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #b3a4f8;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.buttons button:hover {
    background-color: #b3a4f8;
}

#outputText {
    height: 150px;
}
